Package: com.rpetrich.clearnotifications
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.1
Description: Swipe to clear all notifications from lock screen
Name: Clear Notifications
Depends: firmware (>= 5.0), mobilesubstrate
Author: Ryan Petrich <rpetrich+clearnotifications@gmail.com>
